  {% extends 'structure/base.html' %}
{% load static %}

{% block css%}
        <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
        {% endblock %}

{% block content %}
<main class="container">
        <section>
            <ul class="collections-container">
                {% if baskets %}
                {% for basket in baskets %}
                <!-- Пример товара -->
                <li class="collection-card">
                    <img src="{{bascet.product.image}}" alt="Товар 1" class="collection-img">
                    <p class="barcode-pale">{{ basket.product.name }}</p>
                    <p class="helvetic-pale">{{ basket.sum }}</p>
                </li>
            </ul>
        </section>
                {% endfor %}
            </div>
    <div>Итого товаров {{ baskets.total_quantity }}шт. на сумму {{ baskets.total_sum }}р.</div>

    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        <div class="form-group">
            {{ form.comment }}
        </div>

        <div><a id="neon-green" href="{% url 'order:order_view' %}" class="button">PAY</a></div>
    {% else %}
        <h1 class="neon-green"> BASKET EMPTY</h1>
    {% endif %}

    </main>
{% endblock %}