{% extends 'base.html' %}
{% load static %}

{% block css%}
        <link rel="stylesheet" type="text/css" href="{% static 'base.css' %}">
        {% endblock %}

{% block content %}
<div class="collections-container">
    {% for collection in collections %}
    <div class="collection-card">
        <img src="{{ collection.image.url }}" class="collection-img" alt="">
        <div class="fading-text">
            <a class="barcode-pale" href="{% url 'universal_collect' collection_name=collection.name %}">{{collection.name}}</a>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}